@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

a
{
	text-decoration:none;
	color:black;
}

body
{
	@media screen and (max-width: map-get($breakpoints,tablet))
	{
		max-width:768px;
	}
	@media screen and (min-width: map-get($breakpoints,tablet))
	{
		max-width:992px;
	}
	@media screen and (min-width: map-get($breakpoints,desktop))
	{
		max-width:none;
	}
	margin:auto;
	font-family:'roboto','Arial';
}
ul
{
	padding:0px;
}
li
{
	list-style-type: none;
}