body
{
	max-width:425px;
	margin:auto;
	font-family: 'Roboto', 'Shrikhand','arial';

}

a
{
	text-decoration: none;
	color:black;

}

header
{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#f6f6f6;
	width:100%;
	padding-bottom:40px;
	margin-bottom:40px;
}
header div
{
	background-color: white;
}

header div
{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
}
header div img
{
	width:40%;
	margin-top:15px;
	margin-bottom:15px;
}
#localisation
{
	width:100%;
	height:50px;
	background-color:#eaeaea;
	display:flex;
	justify-content: center;
	align-items: center;
}
#localisation label
{
	margin-right:15px;
}
#localisation input
{
	border:none;
	background-color:#eaeaea;
}
#accroche
{
	margin-top:20px;
	width:75%;
	text-align: center;
	background-color:#f6f6f6;
}
#accroche h1
{
	width:96%;
	margin:auto;
}
#accroche p
{
	color:#4d4d4d;
}
.gradient_button 
{
	margin-top:20px;
	width:51.76%;
	height:50px;
	border-radius:25px;
	color:white;
	background:linear-gradient(#FF79DA,#9356DC);
	border:none;
	box-shadow: 1px 1px 2px 2px lightgray;
}
button:hover
{
	cursor:pointer;
	filter:brightness(1.1);
	box-shadow: 1px 1px 2px 2px gray;
	
}



#how_use
{
	width:91%;
	margin:auto;
}
#how_use i
{
	margin-right:15px;
	margin-left:15px;
}
#how_use li
{
	margin-top:20px;
	height:75px;
}
#how_use button
{
	width:100%;
	height:100%;
	background-color: #f6f6f6;
	display:flex;
	align-content: center;
	align-items: center;
	padding:0px;
	border-radius:15px;
	border:none;
	box-shadow: 1px 1px 2px 1px lightgray;
}
#how_use button:hover
{
	cursor:pointer;
	background-color:#f5edff;
}

#how_use button:hover i
{
	color:#9356dc;
}

#how_use i
{
	color:#7e7e7e;
	font-size:115%;
	margin-left:0px;
}

.how_use_step
{
	display:flex;
	align-items:center;
	justify-content: center;
	background-color:#9356dc;
	color:white;
	border-radius:100%;
	height:25px;
	width:25px;
	margin:0px;
	position:relative;
	left:-12.5px;
}

#restaurant
{
	margin-top:25px;
	background-color:#f6f6f6;
	padding-bottom:8%;

}

#restaurant h2
{
	width:91%;
	margin:auto;
	padding-top:8%;
	margin-bottom:20px;
}

figure
{
	width:91%;
	margin:auto;
	margin-top:0px;
	height:250px;
	border-radius:25px;
	box-shadow: 1px 1px 3px 3px lightgray;
	margin-bottom:30px;
}

figure img
{
	width:100%;
	height:70%;
	border-radius : 25px 25px 0 0;
	object-fit:cover;
}
figure h3, figure p
{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
}
figcaption
{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-right:5%;
}

footer
{
	background-color:#353535;
	padding-bottom:10px;
}
footer nav
{
	width:91%;
	margin:auto;
}
footer h2
{
	font-weight: lighter;
	padding-top:5%;
	width:91%;
	margin:auto;
	color:white;
	font-family:'Shrikhand';
}
ul
{
	padding:0px;
}
ul li
{
	list-style-type:none;
}
footer nav ul li a
{
	color:white;
}
footer nav ul li a i
{
	margin-right :2%;
	width:25px;
	height:25px;
}
.new_restaurant
{
	
	font-weight:bold;
	position:relative;
	width:80px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	left:70%;
	top:40px;
	background-color:#99e2d0;
	color:#008766;
	margin-top:-29px;/* Application d'une marge négative correspondant à la taille de la police pour éviter les décalages*/
}

/*CSS MENU*/

#main
{
	background-color:#f6f6f6;
}

#restaurant_header
{
	font-family: 'Shrikhand';
	background-color: white;
	height:60px;
	margin:0px;
	padding:0px;
	width:100%;
	display:flex;
	flex-direction: row;
	align-items: center;
	padding-top:10px;
}
#restaurant_header p
{
	width:29.4%;
}
#restaurant_header i
{
	margin-left:25px;
	font-size:150%;
}
#restaurant_name
{
	font-family: 'Shrikhand';
	font-weight:600;
	width:91%;
	display:flex;
	align-items: center;
	margin-top:30px;	
}
#restaurant_name h1
{
	width:80%;
}

#restaurant_name .gradient
{
	margin-left:20px;
}



#restaurant_photography
{
margin-top:10px;
}
#restaurant_photography img
{
	width:100%;
	height:255px;
	object-fit: cover;
}
#shop_card
{
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color:#f6f6f6;
	border-radius:35px 35px 0 0;
	position:relative;
	top:-40px;
}
#shop_card section
{
	width:91%;
	margin:auto;
}

.underline/*Effet souligné des parties des menus*/
{
	display:inline-block;
	border-bottom:3px solid #99e2d0;
	padding-bottom: 5px;	
}

.product
{
	height:70px;
	padding-left:10px;
	margin-bottom:20px;
	background-color:white;
	border-radius:15px;
	box-shadow: 1px 1px 3px 3px lightgray;
	display:flex;
}
.product:hover 
{
	cursor:pointer;
	box-shadow: 3px 3px 5px 5px lightgray;
	
}

.product--information
{
	width:100%;
	display:flex;
	flex-direction: column;
}
#shop_card h3
{
	height:35px;
	margin-top:10px;
	margin-bottom:5px;
	padding:0px;
	overflow:hidden;/* On ajoute ces propriétés au cas ou un jour un intitulé de plat soit vraiment long*/
	white-space:nowrap;
	text-overflow: ellipsis;
}
.product p
{
	height:20px;
	width:100%;
	margin:0px;
	max-width:275px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;

}

.product--description
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
	margin-bottom:10px;
}

.check_status
{
	height:70px;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color:#99e2d0;
	display:flex;
	border-radius:0 15px 15px 0;
	max-width:20%;
	margin-left:10px;

}
.check_status i
{
	color:#99e2d0;
	background-color:white;
	border-radius:100%;
	font-size:0px;	
}
/*
L'animation d'apparition du  menu contient une baisse des marges entre chaque éléments des menus.
L'opacité remonte progressivement avec un effet de fondu qui va de haut en bas.
J'ai utilisé scale pour l'instant mais ça ne fonctionne pas comme je voudrais, mais ça y ressemble un peu grace au transform-origin bottom.
*/
.menu_composition ul li
{
	animation: fadeInAnimation 2s;
	animation-fill-mode: forwards;
}

.product:hover 
{
	cursor:pointer;
}
.product:hover .check_status
{
	animation:upscale 0.7s;
	animation-iteration-count: 1;
	transform-origin: 0 100%;
	margin-left:10px;
}
.product:hover .check_status i
{
	animation:bigger_size 0.6s;
	animation-iteration-count: 1;
}

@keyframes fadeInAnimation /*Tentative de dégradé au chargement de la page*/
{ 
	0% 
	{ 
	opacity: 0;
	margin-bottom: 30px;
	} 

	100% 
	{ 
	opacity: 1; 

	} 
} 

@keyframes upscale /*Augmente la taille du block contenant l'icone check*/
{
	0%
	{
		width:0%;
	}
	100%
	{
		font-size:15px;
		width:100%;
	}
}
@keyframes bigger_size /*Augmente la taille de la police de l'icone check*/
{
	0%
	{
		font-size:30px;
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
		font-size:30px;
	}
}

.gradient:hover  /*Transforme les coeurs vide en coeur plein et dégradé.*/
{
	cursor:pointer;
	animation: heartgradient 1s;
  	animation-fill-mode: forwards;
}	
#index_main
{
	/*animation: afterloading 3s;*/
	animation: afterloading 2.8s;
  	animation-fill-mode: forwards;
	transform-origin: bottom;
}

#triangle_loader 
{
	animation:loading 2.5s;
	animation-fill-mode:forwards;
	animation-iteration-count: 1;
	position:absolute;
	top:10%;
	left:50%;
    width: 0px;
    height: 0px;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-left:60px solid #99E2D0;
	color:transparent;
}

@keyframes heartgradient
{
	0%
	{
	background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight:bold;
	opacity:0.2;
	}
	100%
	{
	background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight:bold;	
	}

}

@keyframes loading /*Loader*/
{
	0%
	{
		transform:rotate(0deg);
		border-top: 36px solid transparent;
		border-bottom: 36px solid transparent;
		border-left: 60px solid #9356DC;
	}
	33%
	{
		transform:rotate(90deg);
		border-top: 36px solid transparent;
		border-bottom: 36px solid transparent;
		border-left: 60px solid #FF79DA;
		top:80%;
	}

	66%
	{
		transform:rotate(-90deg);
		border-top: 36px solid transparent;
		border-bottom: 36px solid transparent;
		border-left: 60px solid #99E2D0;
		top:30%;
	}
	90%
	{
		transform:rotate(90deg);
		
	}
	100%
	{
		opacity:1;
		width:auto;
		top:-500px;
		font-size:400%;
	}
}
@keyframes afterloading /*Apparition de l'index*/
{
	0%
	{
		transform:scale(0);
		height:0px;
	}
	61%
	{
		height:0px;
	}
	62%
	{
		height:auto;
		transform:scale(0);
		opacity:0;
	}
	100%
	{
		transform:scale(1);
		opacity:100%;
	}
}

