body
{
	width:425px;
	margin:auto;
	font-family: 'Roboto', 'Shrikhand','arial';

}
header
{
	display:flex;
	flex-direction:column;
	align-items:center;
		
}
header button /*Bouton exploration des restaurants*/
{
	width:51.76%;
	height:50px;
	border-radius:25px;
	color:white;
	background:linear-gradient(#FF79DA,#9356DC);
	border:none;
}
header button:hover
{
	cursor:pointer;
}

figure
{
	width:91%;
	height:250px;
	margin:auto;
	border-radius:25px;
	margin-bottom:20px;
	box-shadow: 1px 1px 3px 3px lightgray;
}

figure img
{
	width:100%;
	height:70%;
	border-radius : 25px 25px 0 0;
	object-fit:cover;
}
figure h3, figure p
{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
}