body
{
	width:425px;
	margin:auto;
	font-family: 'Roboto', 'Shrikhand','arial';
}

figure
{
	width:91%;
	height:250px;
	margin:auto;
	border-radius:25px;
	margin-bottom:20px;
	box-shadow: 1px 1px 3px 3px lightgray;
}

figure img
{
	width:100%;
	height:70%;
	border-radius : 25px 25px 0 0;
	object-fit:cover;
}
figure h3, figure p
{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:10px;
}